;;;; -*- mode: clojure; coding: utf-8 -*-

{:database       {:classname "org.postgresql.Driver"
                  :subprotocol "postgresql"
                  :subname "//localhost:5432/benki"
                  :user "benki"
                  :password ""}
 :websocket-base "ws://localhost:3001"
 :base-uri       "http://localhost:3001"
 :tag-base       "example.com"
 :web-port       3001
 :mode           :production   ;or :dev
 :xmpp           {:user         "benki"
                  :service-name "example.com"
                  :server       "jabber.example.com"
                  :port         5222
                  :password     ""
                  :sasl         true
                  :verify-cert  true
                  :tls          :required}  ;or one of: true, false
 }

