;;;; -*- mode: clojure; coding: utf-8 -*-

{:database       {;; NOTE: PostgreSQL is the only supported RDBMS.
                  :host "localhost"
                  :port 5432
                  :database "benki"
                  :user "benki"
                  :password ""}
 :websocket-base "ws://localhost:3001"
 :base-uri       "https://localhost:4333"
 :cert-req-base  "https://localhost:4334"
 :tag-base       "example.com"
 :web-port       3001
 :mode           :production   ;or :dev
 :swank          {:enabled true             ;will be assumed true if absent
                  :port    4005
                  :bind    "127.0.0.1"}
 :xmpp           {:enabled      true        ;will be assumed true if absent
                  :user         "benki"
                  :service-name "example.com"
                  :server       "jabber.example.com"
                  :port         5222
                  :password     ""
                  :sasl         true
                  :verify-cert  true
                  :tls          :required}  ;or one of: true, false
 }

