.bookmark-date-and-owner {
    font-style: oblique;
    color: #555;
    /* text-indent: 1.5em; */
    /* margin-left: 1.5em; */
}

.bookmark-description {
    margin-left: 1.5em;
    margin-bottom: 1em;
}

#bookmarx-footer {
    text-align: right;
    position: relative;
    padding: 0.5em 0.5em 0.5em 0.5em;
    right: 0;
    margin: 1em;
    font-style: oblique;
}

#bookmarx-footer-text {
    padding: 0.5em 1em 0.5em 1em;
    border: solid 1px #000;
    background-color: orange;
}

/*
.bookmark-description p {
  margin-bottom: 0;
}
.bookmark-description p + p {
  text-indent: 1.5em;
  margin-top: 0;
}
*/
